/* -----import font-family----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
/* -----banner color and size----- */
#banner{
    width: 100%;
    height: 750px;
    margin: -30px 0 0 0;
    background-color: #2D25A0;
}


/* -----banner display type----- */
#banner-details{
    display: flex;
    place-items: center;
    
}

/* ---------------banner text and hover effect,------------------
 ---------text-color will change  when the cursor take on the banner ----- */

#banner-text{
    font-weight: bold;
    width: 50%;
    margin-left: 156px;
    font-size: 24px;
    color:whitesmoke;
    transition:color 1s ease;
   
}
/* -----button click----- */
.button{
    background-color: #E02C6D;
    text-decoration: none;
    padding: 7px 17px;
    color: white;
    border-radius: 5px;
    font-size: 12px;

}

/* -----banner image----- */
#banner-details img{
    width:80%;
    height: 400px; 
    margin-top: 150px;
    margin-left: 50px;  
}
/* -----hover effect----- */
#banner:hover #banner-text{
    color:yellow;   
}


/* ----main part design----- */



/* -----players display type----- */
#players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin-left:160px;
    margin-top: 70px;
    margin-right: 100px;
    
}

/* -----player image size----- */
.player img{
    width: 300px;
    height: 376px;
}
/* -----text size for all p tags----- */
 p{
    font-size: 14px;
}
/* ----shadow around the player box----- */
.player{
    box-shadow:0px 0px 40px  rgba(0, 0, 0, 0.15);
    margin: 20px;
    width: 300px;
    height: 550px;
    padding: 15px;

}
/* -----section divider----- */
hr{
    width: 1400px;
    height: 2px;
    background-color: rgb(48, 77, 77);
    margin-bottom: 40px;
}

/* -----second section----- */

/* -----goalkeeper,coach, manager ranking----- */
.more-ranks{
    margin-top: 10px;
    margin-left: -30px;
}
/* -----second section's left side headline align----- */
.more-ranks>h2{
    margin-left: 300px;
}

/* -----left side image and right side image fixing----- */
.more-items img{
    width: 150px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
/* -----left side image and right side image  display type  fixing----- */
.more-items {
    display: flex;
   
}
/* -----side divider----- */
.vl {
    border-left: 6px solid rgb(116, 124, 116);
    height: 500px;
    margin-right: 40px;
  }
/* -----full section display type fixing----- */
#section-display{
    display: flex;
    margin-left: 100px;
}
/* -----footer part----- */
 footer img{
     width: 484px;
     height: 110;
     margin-top: 90px;
     margin-left: 580px;
 }
/* -----icon resizing----- */
 .icon{
   font-size: 25px;
   margin: 10px;
 }
/* -----icon centering----- */
 #all-icon{
     margin-left: 750px;
 }
 /* -----footer p centering----- */
 footer p{
    margin-left: 770px;
 }


 /* -----media query for response----- */


 /* -----all  360px and less width devices----- */
 @media only screen and (max-width:360px){

    /* -----all banner info----- */
     #banner-details{
         display: block;
     }
     #banner-text{
        font-weight: bold;
        width: 50%;
        margin-left: 100px;
        font-size: 20px;
        color:whitesmoke;
        transition:color 1s ease;
       
    }
   
    #banner{
        width: 360px;
     }
     #banner-details img{
      margin-top: 30px;
      height: 300px;
      
     }
     #banner:hover #banner-text{
        color:yellow;   
    }
     /* -----all players info----- */
     #players{
         grid-template-columns: repeat(1,1fr);
         margin-left: 0%;
     }
     /* -----section two- more ranks and news- info----- */
     #section-display{
         display: block;
     }
     .more-items img{
        width: 100px;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    /* -----cancel side border---- */
    .vl {
        border-left: 6px solid rgb(116, 124, 116);
        height: 0px;
        margin: 0px;
      }
      /* -----rank and news title----- */
      .more-ranks>h2{
        margin-left: 30px;
    }
    

    /* -----all footer info----- */
    footer img{
        width: 184px;
        height: 50;
        margin-top: 70px;
        margin-left: 30px;
    }

    .icon{
        font-size: 10px;
        margin: 10px;
      }
     /* -----icon centering----- */
      #all-icon{
          margin-left: 60px;
      }
      /* -----footer p centering----- */
      footer p{
         margin-left: 60px;
      }
     
 }

 /* -----all 414px and less width devices----- */
 
 @media only screen and (max-width:414px){

    /* -----all banner info----- */
     #banner-details{
         display: block;
     }
     #banner-text{
        font-weight: bold;
        width: 50%;
        margin-left: 100px;
        font-size: 20px;
        color:whitesmoke;
        transition:color 1s ease;
       
    }
   
    #banner{
        width: 414px;
     }
     #banner-details img{
      margin-top: 30px;
      height: 300px;
      
     }
     #banner:hover #banner-text{
        color:yellow;   
    }
     /* -----all players info----- */
     #players{
         grid-template-columns: repeat(1,1fr);
         margin-left: 0%;
     }
     /* -----section two- more ranks and news- info----- */
     #section-display{
         display: block;
     }
     .more-items img{
        width: 100px;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    /* -----cancel side border---- */
    .vl {
        border-left: 6px solid rgb(116, 124, 116);
        height: 0px;
        margin: 0px;
      }
      /* -----rank and news title----- */
      .more-ranks>h2{
        margin-left: 30px;
    }

    /* -----all footer info----- */
    footer img{
        width: 184px;
        height: 50;
        margin-top: 70px;
        margin-left: 30px;
    }

    .icon{
        font-size: 10px;
        margin: 10px;
      }
     /* -----icon centering----- */
      #all-icon{
          margin-left: 60px;
      }
      /* -----footer p centering----- */
      footer p{
         margin-left: 60px;
      }
     
 }

 /* -----all 1024px and less width devices----- */

 @media only screen and (max-width:1024px){

    /* -----all banner info----- */
    
     #banner-text{
        font-weight: bold;
        width: 50%;
        margin-left: 100px;
        font-size: 20px;
        color:whitesmoke;
        transition:color 1s ease;
       
    }
   
    #banner{
        width: 1024px;
     }
     #banner-details img{
      margin-top: 30px;
      height: 300px;
      
     }
     #banner:hover #banner-text{
        color:yellow;   
    }
     /* -----all players info----- */
     #players{
         grid-template-columns: repeat(2,1fr);
         margin-left: 0%;
     }
     
 }




